:root {
    --background-color: #252a34;
    --primary-color: rgb(43, 146, 177);
    --primary-color-light: rgb(113, 173, 192);
    --text-color-primary: #fff;
    --text-color-secondary: rgb(165, 165, 165);
}
