:root {
    /* Main colors */
    --primary-color: rgb(43, 146, 177);
    --primary-color-light: rgb(113, 173, 192);

    /* Background */
    --background-color: #252a34;

    /* Text */
    --text-color-primary: rgb(199, 199, 199);
    --text-color-secondary: rgb(180, 180, 180);

    /* Basics */
    --white: #fff;
}
