html {
    background-color: var(--background-color-light);
    overflow-x: hidden;
    overflow-y: auto;

    h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, button, input, textarea, select {
      color: var(--text-color-primary);
      font-family: Helvetica, sans-serif;
    }
}

body {
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

// SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color-light);
  background: rgb(63, 63, 63);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}